.modal {
  position: fixed;
  top: 20vh;
  left: 50%;
  /*width: 50%;*/
  width: min(90vw, 24rem);
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 99;
  transform: translateX(-50%);
  animation: slide-down 300ms ease-out forwards;
}
