.summary-section {
  padding-block: 3rem;
}

.summary {
  background-color: var(--white);
  box-shadow: 5px 12px 12px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
}

@media (min-width: 48rem) {
  .summary {
    grid-template-columns: 1fr 1fr;
  }
}

.summary__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.summary__link {
  text-decoration: none;
  color: black;
  text-align: center;
}

.summary__image {
  height: 100%;
}

.summary__btn {
  width: 100%;
}
