.header {
  background-color: var(--white);
  padding-block: 1rem;
}

.header__heading-link {
  text-decoration: none;
}

.header__heading {
  font-size: 2.5rem;
  color: var(--black);
}

.header__btn {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #43c943;
  color: white;
  padding: 0.75rem clamp(1rem, 4vw, 3rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.header__btn:hover,
.header__btn:active {
  background-color: #1a8f1a;
}

.header__btn-icon {
  margin-right: 0.6125rem;
  font-size: 1.6rem;
}

.header__btn-badge {
  background-color: green;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}
