* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font Family */
  --font-barlow-condensed: "Barlow Condensed", sans-serif;

  /* Font Sizes*/
  --font-size-300: 2rem;
  --font-size-200: 1.25rem;
  --font-size-100: 0.75rem;

  /* Color */
  --black: hsl(270, 3%, 11%);
  --dark-blue: hsl(238, 29%, 16%);
  --white: #fffbfb;
  --grey: #f0eef1;
  --red: #ff7070;
  --green: #76e572;
  --light-green: #9fff9c;
  --light-red: #ff9c9c;
  --blue: #24a0ed;
  --light-yellow: #ffe066;
  --yellow: #fcc419;

  /* Spacing */
  --flow-space: 1rem;
  --gap: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

body {
  font-family: var(--font-barlow-condensed);
  min-height: 100vh;
  line-height: 1.5;
  background-color: #dee2e6;
  position: relative;
  font-weight: 500;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  font-weight: 500;
}

.loading {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

/* Spacing */
.flow > * + * {
  margin-top: var(--flow-space);
}

/* Flex Utility */
.flex {
  display: flex;
}

.flex--gap {
  gap: var(--gap);
}

.flex--justify-space {
  justify-content: space-between;
}

.flex--align-center {
  align-items: center;
}

.flex--justify-center {
  justify-content: center;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

/* Grid Utility */
.grid {
  display: grid;
}

.grid--gap {
  gap: var(--gap);
}

.grid--content-center {
  place-content: center;
}

.grid--items-center {
  place-items: center;
}
